{#
    Usage example:
    {% include 'partials/_radio_button.html.twig' with {
        id: 'is-organization',
        options: {
            0: {
                label: 'person'|trans,
                active: user.type == 'PERSON',
                value: 'PERSON',
            },
            1: {
                label: 'company'|trans,
                active: user.type == 'ORGANIZATION',
                value: 'ORGANIZATION',
            },
        },
        help: 'profile_type_help'|trans({
            current_type: user.type == 'PERSON' ? 'person'|trans : 'company'|trans,
            other_type: user.type != 'PERSON' ? 'person'|trans : 'company'|trans,
        })
    } %}

    JS example:
    const container = document.getElementById('js-is-company');
    const radios = container.querySelectorAll('label');

    const personElement = document.querySelector('.person');
    const companyElement = document.querySelector('.company');

    radios.forEach((radio) => {
      radio.addEventListener('click', async (event) => {
        event.preventDefault();
        event.stopPropagation();

        const type = event.currentTarget.dataset.value;
        document.querySelector('input[name="profile_form[type]"]').value = type;

        await radios.forEach((r) => r.classList.remove('active'));
        event.currentTarget.classList.add('active');

        switch (type) {
          case 'PERSON':
            personElement.classList.remove('d-none');
            companyElement.classList.add('d-none');
            break;
          case 'COMPANY':
            companyElement.classList.remove('d-none');
            personElement.classList.add('d-none');
            break;
        }
      });
    });
#}
<div class="btn-group btn-group-toggle" id="js-{{ id }}">
    {% for i, option in options %}
        <label
                title="{{ help }}"
                class="btn btn-outline-primary {{ option.active ? 'active' : ''}}"
                data-value="{{ option.value }}"
        >
            <input type="radio" name="options" id="{{ id }}-{{ i + 1 }}"> {{ option.label }}
        </label>
    {% endfor %}
</div>
