{% trans_default_domain 'forgot-password' %}

{% extends 'base.html.twig' %}

{% block title %}{{ 'forgot_password'|trans }}{% endblock %}

{% block body %}
    <div class="card shadow m-5">
        <div class="card-body">
            <h1 class="h5 card-title">
                {{ 'forgot_password'|trans }}
            </h1>

            <p>
                <a
                        href="{{ path('login', { _locale: app.request.locale }) }}"
                >{{ 'go_to_login'|trans }}</a>
            </p>

            <div>
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(form.email, {
                            label: 'email'|trans,
                            attr: {
                                autofocus: true,
                                placeholder: 'email'|trans,
                            }
                        }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-primary">{{ 'forgot_password_button_label'|trans }}</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
