{% trans_default_domain 'profile' %}

{% extends 'base.html.twig' %}

{% block title %}{{ 'profile'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('profile') }}
{% endblock %}

{% block body %}
    <div class="w-100">
        <h1 class="h3 mb-4"><i class="fa fa-user"></i>&nbsp;&nbsp;{{ 'heading'|trans }}</h1>

        {% if user.confirmationToken %}
            <div class="alert alert-warning">
                <i class="fa fa-exclamation"></i>&nbsp;&nbsp;{{ 'please_confirm_your_account'|trans }}
            </div>
        {% else %}
            <div class="row">
                <div class="col-sm-6 col-lg-8">
                    {{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_row(form.email, {
                                label: 'email',
                                attr: {
                                    autofocus: true,
                                    placeholder: 'email',
                                    'data-valuemissing': 'valuemissing'|trans({}, 'form-errors'),
                                    'data-typemismatch': 'type_mismatch_email'|trans({}, 'form-errors'),
                                },
                            }) }}
                        </div>
                        <div
                                class="col-md-12 mb-3"
                                data-message="{{ 'change_profile_type'|trans }}"
                        >
                            {% include 'partials/_switch.html.twig' with {
                                label_left: 'person'|trans,
                                label_right: 'company'|trans,
                                checked: user.type == 'ORGANIZATION',
                                help: null,
                                invalid_feedback: 'cannot_switch_type'|trans,
                            } %}
                        </div>
                        <div class="person {{ user.type == 'PERSON' ? '' : 'd-none' }} col-md-12">
                            {% if form.person is defined %}
                                <div class="form-row">
                                    <div class="col-md-6">
                                        {{ form_row(form.person.firstName, {
                                            label: 'first_name'|trans,
                                            attr: {
                                                placeholder: 'first_name',
                                                'data-valuemissing': 'valuemissing'|trans({}, 'form-errors'),
                                            },
                                        }) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_row(form.person.lastName, {
                                            label: 'last_name'|trans,
                                            attr: {
                                                placeholder: 'last_name',
                                                'data-valuemissing': 'valuemissing'|trans({}, 'form-errors'),
                                            },
                                        }) }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="organization {{ user.type == 'ORGANIZATION' ? '' : 'd-none' }} col-md-12">
                            {% if form.organization is defined %}
                                <div class="form-row">
                                    <div class="col-md-12">
                                        {{ form_row(form.organization.name, {
                                            label: 'name'|trans,
                                            attr: {
                                                placeholder: 'name',
                                                'data-valuemissing': 'valuemissing'|trans({}, 'form-errors'),
                                            },
                                        }) }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
{#                        <div class="col-md-12">#}
{#                            <div>{{ 'addresses'|trans }}</div>#}
{#                            <div#}
{#                                    class="row js-addresses"#}
{#                                    data-prototype="{{ include('form/address.html.twig', {#}
{#                                        address: form.addresses.vars.prototype,#}
{#                                    })|e('html_attr') }}"#}
{#                            >#}
{#                                {% for address in form.addresses %}#}
{#                                    <div class="col-md-6 mb-3">#}
{#                                        {% include 'form/address.html.twig' with { address: address } %}#}
{#                                    </div>#}
{#                                {% endfor %}#}
{#                            </div>#}
{#                            <div class="row mb-4">#}
{#                                <div class="col-md-6">#}
{#                                    <button type="button" class="btn btn-outline-primary add_tag_link">Add an address</button>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
                        <div class="col-md-12">
                            {{ form_row(form.receivesNewsletter, {
                                label: 'approve_newsletter'|trans,
                            }) }}
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-primary" type="submit">{{ 'save'|trans }}</button>
                        </div>
                    </div>
                    {{ form_end(form) }}

                    <div class="mt-3">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="h5">{{ 'addresses'|trans }}</h2>
                            </div>
                        </div>
                        <div class="row">
                            {% for address in user.addresses %}
                                <div class="col-md-6 mb-3">
                                    {% include 'partials/_address_card.html.twig' with { address: address } %}
                                </div>
                            {% endfor %}
                            <div class="col-md-6 mb-3 d-none js-address-template">
                                __address_card__
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" class="btn btn-outline-primary js-add-address">Add an address</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-sidebar col-sm-6 col-lg-4 d-flex flex-column align-items-center">
                    {# Image #}
                    <img
                            src="{{ uploaded_file(user.avatarUrl ?? '') }}"
                            alt="{{ 'avatar'|trans }}"
                            class="card-img-top rounded mb-2{{ user.avatar ?? ' d-none' }}"
                            id="js-avatar"
                    />

                    {# Dropzone #}
                    <form
                            action="{{ path('avatar_upload', { user: user.id }) }}"
                            method="POST"
                            enctype="multipart/form-data"
                            class="dropzone avatar mb-4"
                            data-description="{{ 'upload_avatar'|trans }}"
                            data-error="{{ 'error_on_file_upload'|trans }}"
                            data-success="{{ 'success_on_file_upload'|trans }}"
                    >
                    </form>

                    {# Delete account #}
                    <div class="card">
                        <div class="card-body">
                            <h2 class="h5 card-title">{{ 'account_deletion_heading'|trans }}</h2>
                            <p class="card-text">{{ 'account_deletion_info'|trans }}</p>
                            {% include 'partials/_delete_button.html.twig' with {
                                route: path('user_delete', {'id': user.id}),
                                csrf_token: csrf_token('delete' ~ user.id),
                                button_label: 'delete_account_button_label'|trans,
                                question: 'are_you_sure_to_delete_your_account_question'|trans,
                                style: 'btn-outline-primary',
                            } %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('profile') }}
{% endblock %}
