{% trans_default_domain 'registration' %}

{% extends 'base.html.twig' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('registration') }}
{% endblock %}

{% block body %}
    <div class="register card shadow">
        <div class="card-body">
            <h1 class="h5 card-title">
                {{ 'headline'|trans }}
            </h1>

            <p>
                {{ 'go_to_login'|trans({
                    url: path('login', { _locale: app.request.locale }),
                })|raw }}
            </p>

            <div>
                {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_row(form.email, {
                                label: 'email_label',
                                attr: {
                                    autofocus: true,
                                    placeholder: 'email_placeholder',
                                }
                            }) }}
                        </div>
                        <div class="col-md-12">
                            {{ form_row(form.plainPassword, {
                                label: 'password_label',
                                attr: {
                                    placeholder: 'password_placeholder',
                                }
                            }) }}
                        </div>
                        <div class="col-md-12">
                            {{ form_row(form.agreeToTermsAndDataPrivacy, {
                                label: 'approve_terms_label'|trans({
                                    '{terms_url}': '#',
                                    '{privacy_url}': '#',
                                }),
                            }) }}
                            {{ form_row(form.receivesNewsletter, {
                                label: 'approve_newsletter_label',
                            }) }}
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-primary">{{ 'register_button_label'|trans }}</button>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('registration') }}
{% endblock %}
