{% trans_default_domain 'reset-password-was-sent' %}

{% extends 'base.html.twig' %}

{% block title %}{{ 'reset_password_was_sent'|trans }}{% endblock %}

{% block body %}
    <div class="card shadow m-5">
        <div class="card-body">
            <h1 class="h5 card-title">
                {{ 'reset_password_was_sent'|trans }}
            </h1>

            <p>
                <a
                        href="{{ path('login', { _locale: app.request.locale }) }}"
                >{{ 'go_to_login'|trans }}</a>
            </p>

            <div>
                {{ 'message'|trans }}
            </div>
        </div>
    </div>
{% endblock %}
