{% trans_default_domain 'reset-password' %}

{% extends 'base.html.twig' %}

{% block title %}{{ 'reset_password'|trans }}{% endblock %}

{% block body %}
    <div class="card shadow m-5">
        <div class="card-body">
            <h1 class="h5 card-title">
                {{ 'reset_password'|trans }}
            </h1>

            <p>
                <a
                        href="{{ path('login', { _locale: app.request.locale }) }}"
                >{{ 'go_to_login'|trans }}</a>
            </p>

            <div>
                {{ form_start(form) }}
                    {{ form_row(form.resetPasswordToken, {
                        value: resetPasswordToken,
                    }) }}
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_row(form.plainPassword, {
                                label: 'password'|trans,
                            }) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary">{{ 'reset_password_button_label'|trans }}</button>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
